<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6MVINMezzt7Mj2rdcwMefOFwkxIULBGA</string>
	<key>GCM_SENDER_ID</key>
	<string>395905526132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeDevReach.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>code-dev-reach</string>
	<key>STORAGE_BUCKET</key>
	<string>code-dev-reach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395905526132:ios:e7d613f6abd68607f0a421</string>
</dict>
</plist>